.medicine-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.medicine-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.medicine-card h2 {
    margin-bottom: 10px;
}

.medicine-card p {
    margin-bottom: 5px;
}